.page {
    background-color: #e5e5e5;
    max-width: 100vw;
    min-height: 100vh;
    font-family: 'Roboto';
    display: flex;
}

.fields {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgb(228, 227, 233);
    max-width: 290px;
    max-height: 421px;
    margin-top: 40px;
    margin-left: auto;
}

.field_name {
    font-weight: 700;
    line-height: 32px;
    font-size: 18px;
    margin: 32px 0 0 24px;
}

.select {
    margin: 0 24px 0;
    width: 240px;
    height: 40px;
    background-color: rgba(246, 246, 248, 1);
    border: 1px solid rgba(228, 227, 233, 1);
}

.select_last {
    margin-bottom: 32px;
}

.button {
    max-width: 240px;
    margin: 0 auto 32px;
}

.title {
    line-height: 56px;
    font-size: 56px;
    text-align: center;
    font-weight: 900;
    margin: 40px auto 24px;
}

.subtitle {
    color: rgba(94, 103, 127, 1);
    max-width: 652px;
    text-align: center;
    margin: 0 auto 32px;
    line-height: 32px;
    font-size: 18px;
    font-weight: 400;
}

.container {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}